:root {
    /* page-colors */
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2e2f42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8e8f99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F42;
    --hero-background: #2E2F42;
    --white-background: #FFFFFF;
    --modal-background: #FCFCFC;
    /* page -fonts-styles */
    --roboto-font: Roboto, sans-serif;
    --raleway-font: Raleway, sans-serif;
}